:root {
	--Blue-500: hsl(180, 66%, 49%);
	--Blue-700: hsl(255, 11%, 22%);
	--Purple-700: hsl(257, 27%, 26%);
	--Purple-900: hsl(260, 8%, 14%);
	--Red-400: hsl(0, 87%, 67%);

	--Neutral-100: hsl(0, 0%, 100%);
	--Neutral-200: hsl(0, 0%, 98%);
	--Neutral-300: hsl(0, 0%, 75%);

	--Font-Weight-500: 500;
	--Font-Weight-700: 700;
	font-size: 18px;

	--Em-100: 0.25em;
	--Em-300: 0.5em;
	--Em-500: 1em;
	--Em-700: 1.5em;
	--Em-900: 2em;

	--Rem-200: 0.5rem;
	--Rem-400: 1rem;
	--Rem-600: 1.25rem;
	--Rem-800: 2rem;
	--Rem-1000: 2.25rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

/* Component */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--Neutral-200);
}

header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: var(--Em-500);
}

nav {
	position: absolute;
	top: 100%;
	left: var(--Em-500);
	width: calc(100% - var(--Em-500) * 2);
	z-index: 2;
	display: flex;
	flex-direction: column;
	background-color: var(--Purple-700);
	border-radius: var(--Em-300);
}

.hamburger-menu {
	cursor: pointer;
}

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--Em-500);
}

.login {
	padding-top: var(--Em-700);
	border-top: 1px solid var(--Neutral-300);
	width: 80%;
	background-color: transparent;
	font-size: var(--Rem-400);
}

main {
	width: 100%;
	padding: var(--Em-500);
}

.hero-container {
	display: flex;
	position: relative;
	flex-direction: column-reverse;
}

.hero-text {
	text-align: center;
	padding: var(--Em-500);
}

.url-shorten {
	display: flex;
	flex-direction: column;
	padding: var(--Em-500);
	background-image: url(./images/bg-shorten-mobile.svg);
	background-repeat: no-repeat;
	background-position: top -30px right -50%;
	background-color: var(--Purple-700);
	border-radius: var(--Em-300);
}

.shorten {
	color: var(--Purple-900);
	border: none;
	border-radius: var(--Em-100);
	padding: var(--Em-300);
	margin: var(--Em-300) 0;
	width: 100%;
}

#short-links-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.link-list {
	display: flex;
	flex-direction: column;
	background-color: var(--Neutral-100);
	margin: var(--Em-300) 0;
	padding: var(--Em-300);
	border-radius: var(--Em-100);
	width: 100%;
}

.short-link {
	color: var(--Blue-500);
	margin: var(--Rem-200) 0;
}

.link-btn {
	background-color: var(--Blue-500);
	color: var(--Neutral-100);
	padding: var(--Em-300);
	border-radius: var(--Em-100);
	border-color: var(--Blue-700);
}

.statistics {
	margin-top: 4em;
	text-align: center;
}

.features-container {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		hsl(0, 0%, 100%, 0) 49%,
		var(--Blue-500) 49%,
		var(--Blue-500) 51%,
		hsl(0, 0%, 100%, 0) 51%
	);
}

.feature-card {
	position: relative;
	text-align: center;
	background-color: var(--Neutral-100);
	border-radius: var(--Em-100);
	padding: var(--Em-900) var(--Em-100) var(--Em-500) var(--Em-100);
	margin: 4em 0;
}

.boost-links {
	width: 100%;
	text-align: center;
	background-color: var(--Purple-700);
	padding: var(--Em-900) var(--Em-300);
	background-image: url(./images/bg-boost-mobile.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}

footer {
	width: 100%;
	background-color: var(--Purple-900);
}

.footer-wrapper {
	padding: var(--Em-900);
	text-align: center;
}

.social-links-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: var(--Em-900);
}

.input-wrapper {
	width: 100%;
}

/* Utility */

.hidden {
	display: none;
}

.invert {
	color: var(--Neutral-100);
}

.bold {
	font-weight: var(--Font-Weight-700);
}

.white {
	color: var(--Neutral-100);
}

.blue-background {
	background-color: var(--Blue-500);
}

.blue-background:hover,
.blue-background:focus-visible {
	filter: brightness(115%);
}

.blue-hover:hover,
.blue-hover:focus-visible {
	cursor: pointer;
	color: var(--Blue-500);
	fill: var(--Blue-500);
}

.purple-hover:hover,
.purple-hover:focus-visible {
	cursor: pointer;
	color: var(--Purple-900);
}

/* Element */
.invalid {
	color: var(--Red-400);
	margin: var(--Em-100) 0 var(--Em-500) 0;
	font-style: italic;
	font-size: var(--Rem-200);
}

hr {
	height: 2px;
	background-color: var(--Neutral-200);
	border: none;
	width: 100%;
}

h1 {
	font-size: var(--Rem-800);
	line-height: var(--Rem-1000);
}

h2 {
	font-size: var(--Rem-600);
	margin: var(--Em-500) 0;
}

h3 {
	font-size: var(--Rem-600);
	margin-top: var(--Rem-800);
}

p {
	color: var(--Neutral-300);
	line-height: var(--Rem-600);
	margin: var(--Em-500) 0;
}

.link-text {
	color: var(--Purple-900);
	margin: var(--Em-500) 0;
	line-height: var(--Rem-600);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul {
	margin: var(--Rem-600) 0;
}

li {
	width: max-content;
	list-style: none;
	font-weight: 500;
	color: var(--Neutral-300);
	margin: var(--Rem-200) auto;
}

button {
	margin: var(--Em-500) 0;
	border: none;
	cursor: pointer;
	font-size: var(--Rem-400);
}

a {
	margin: 0 var(--Em-300);
}

.hamburger {
	width: 25px;
	height: 3px;
	background-color: var(--Neutral-300);
	margin: 5px 0;
}

.icons {
	position: absolute;
	top: -10%;
	left: calc(50% + -38px);
	background-color: var(--Purple-700);
	padding: var(--Em-500);
	width: 76px;
	clip-path: circle(50% at 50% 50%);
	-webkit-clip-path: circle(50% at 50% 50%);
}

.site-links {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: var(--Rem-600) 0 0 0;
}

.get-started-sign-up {
	color: var(--Neutral-100);
	border-radius: 99px;
	padding: var(--Em-500) var(--Em-900);
	width: 10em;
}
/* Exception */

.working {
	width: 100%;
	height: 16em;
	margin-bottom: var(--Em-900);
	overflow-x: hidden;
	background-image: url(./images/illustration-working.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
/* media */

@media (min-width: 1024px) {
	.hidden {
		display: flex;
	}

	nav {
		display: flex;
		position: relative;
		left: initial;
		width: initial;
		z-index: 1;
		flex-direction: row;
		background-color: transparent;
		border-radius: initial;
		align-items: center;
		justify-content: space-between;
	}

	nav > ul > li {
		margin: 0 var(--Rem-400);
	}
	.hamburger-wrapper {
		display: none;
	}

	.site-links {
		flex-direction: row;
		margin: 0;
	}

	.site-links > li {
		color: var(--Neutral-300);
	}

	.login-container {
		flex-direction: row;
		margin: 0;
		margin-left: 30%;
	}

	.login {
		padding-top: initial;
		border-top: none;
		width: 80%;
		background-color: transparent;
		font-size: var(--Rem-400);
		color: var(--Neutral-300);
	}

	header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: initial;
		width: 58em;
		padding: var(--Em-500);
	}

	.hero-container {
		width: 58em;
		flex-direction: row;
		justify-content: space-between;
	}

	.hero-text {
		text-align: left;
		margin-right: auto;
	}

	.working {
		height: 20em;
	}

	.get-started-sign-up {
		width: 12em;
	}

	main {
		max-width: 58em;
	}

	.url-shorten {
		position: relative;
		flex-direction: row;
		align-items: center;
		background-image: url(./images/bg-shorten-desktop.svg);
		background-position: top 0 right 0;
	}

	.shorten-button {
		margin-left: var(--Em-700);
		width: 15%;
	}

	.link-list {
		flex-direction: row;
		align-items: center;
		background-color: var(--Neutral-100);
		margin: var(--Em-500) 0;
		padding: var(--Em-500);
		border-radius: var(--Em-100);
		width: 100%;
	}

	.link-text {
		margin: 0;
	}

	p {
		line-height: var(--Rem-800);
	}

	hr {
		display: none;
	}

	.link-btn {
		margin: 0 0 0 var(--Em-500);
	}

	.short-link {
		margin: 0 0 0 auto;
	}

	.statistics {
		margin: 4em auto;
		max-width: 25em;
	}

	.features-container {
		display: flex;
		justify-content: space-between;
		margin: 4em 0;
		height: 20em;
		background: linear-gradient(
			hsl(0, 0%, 100%, 0) 49%,
			var(--Blue-500) 49%,
			var(--Blue-500) 51%,
			hsl(0, 0%, 100%, 0) 51%
		);
	}

	.feature-card {
		width: 32%;
		position: relative;
		text-align: left;
		background-color: var(--Neutral-100);
		border-radius: var(--Em-300);
		padding: var(--Em-900) var(--Em-500);
		margin: 0;
	}
	.brand {
		align-self: flex-start;
	}

	.records {
		align-self: center;
	}

	.customizable {
		align-self: flex-end;
	}

	.boost-links {
		background-image: url(./images/bg-boost-desktop.svg);
	}

	.footer-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 58em;
		margin: auto;
		padding: var(--Em-900) 0;
	}

	li {
		margin: var(--Rem-200) 0;
		text-align: left;
	}

	.footer-wrapper > svg {
		margin-top: var(--Rem-200);
	}

	ul {
		margin: 0;
	}

	.social-links-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: var(--Rem-200);
	}

	.icons {
		left: 38px;
	}

	.invalid {
		position: absolute;
		bottom: 0;
		margin: 0;
	}
}
